@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body{
   font-family: 'Roboto', sans-serif;
}
.chart-heading{
   text-align: center; 
   margin-top: 1rem;
   font-size: xx-large;
   font-weight: 700;
}
.title{
   font-weight: 700;
   font-size: x-large;
}
.container{
   margin: 1rem 3rem;
   font-size: 1.3rem;
   color: black;
}
.loading{
   text-align: center;
   margin: 1rem;
}